<?xml version="1.0" encoding="UTF-8"?>
<suite name="Payback Suite">
  <test name="Test Basics 1">
  <parameter name = "type" value="head"/>
  <parameter name = "browser" value="chromium"/>
  <!--parameter name = "browser" value="safari"/!-->
  <!--parameter name = "browser" value="firefox"/!-->
    <classes>
       <class name="test.Payback"/>
    </classes>
     
  </test> <!-- Test -->
</suite> <!-- Suite -->